a {
  text-decoration: none;
  outline: none;
  text-align: center;
  color: inherit;
}

.link_default {
  text-decoration: underline;
  color: rgb(27, 89, 222);
}

.error-popup {
  position: absolute;
  background-color: #005397;
  color: #fff;
  padding: 10px;
  text-align: right;
  font-size: 16px;
  width: 100px;
}
