.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  padding: 0 40px;
  background-color: #222;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.25);
  width: 95%;
  height: 80px;
  border-radius: 13px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translate(-50%);
}

.site_title {
  color: white;
  justify-self: start;
  font-family: "Bebas Neue";
  cursor: pointer;
  text-wrap:nowrap;
}
.nav_menu {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 3px;
  align-items: center;
  text-align: center;
  justify-content: end;
}

.menu_item {
  padding: 0.5rem 1rem;
  transition: all 0.25s ease-in;
}
.menu_item a {
  color: white;
  font-family: "Nunito";
  font-size: 1.2rem;
  white-space: nowrap;
}

.menu_item:hover {
  background-color: rgba(41, 41, 182, 0.5);
  border-radius: 5px;
}

.open {
  display: block;
  color: white;
}

.close {
  display: none !important;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 800px) {
  .menu_item a{
    font-size: 1rem;
    padding: 0.5rem 0.8rem;
  }
}
@media screen and (max-width: 700px) {
  .navbar {
    z-index: 99;
  }
  .nav_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    border-radius: 13px;
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0%;
    align-items: stretch;
    padding: 80px 0 30px 0;
    margin: 0;
  }
  .menu_item a {
    display: block;
    width: 100%;
    padding: 0.2rem 0;
    color: #222;
  }
  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 40%);
    font-size: 1.8rem;
    cursor: pointer;
    color: white;
    z-index: 1;
  }
}
